body {
    margin: 0;
    background-color: hsl(30, 38%, 92%);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.tile {
    display: flex;
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.tile-left {}

.tile-left img {
    max-width: 300px;
    border-radius: 10px 0px 0px 10px;
    vertical-align: top;
}

.tile-right {
    margin-left: 30px;
    margin-top: 30px;
    width: 250px;
}

.product-title {
    letter-spacing: 6px;
    font-size: 12px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.product-name {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 30px;
    width: 90%;
    line-height: 35px;
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 21%, 14%);
}

.product-bio {
    color: #505050;
    padding-bottom: 20px;
    line-height: 25px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.price-box {
    display: flex;
    align-items: center;
    gap: 25px;
}

.price {
    color: hsl(158, 36%, 37%);
    font-size: 32px;
    font-weight: 900;
    font-family: 'Fraunces', sans-serif;
}

.former-price {
    font-size: 13px;
    color: #505050;
    text-decoration: line-through;
}

.cart-button button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 70px;
    border: none;
    font-family: 'Montserrat', sans-serif;

}

.cart-button img {}