body {
    margin: 0;
    background-color: hsl(30, 38%, 92%);
}

.content {
    display: flex;
    align-items: center;
}

.tile {
    display: flex;
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    margin: auto;

}

.tile-left {}

.tile-left img {
    max-width: 300px;
    border-radius: 10px 0px 0px 10px;
    vertical-align: top;
}

.product-title {
    letter-spacing: 3px;
}