html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#drawbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid lightgrey;
}

.div_row {
  display: flex;
}

.box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px dotted lightgrey;
}

.buttons {
  text-align: center;
}

button {
  padding: 10px 50px;
  font-weight: 700;
  font-size: 16px;
  margin: 10px;
}